.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #546457;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #7a907e;
}
